$primary-color: #ebebeb;
$secondary-color: #2772a4;
@mixin easeOut{
  transition: all 0.5s ease-out;
}
//Menu Button
.menu-btn{
  z-index: 50;
  position: absolute;
  left: 4%;
  top: 2.25rem;
  cursor: pointer;
  @include easeOut;

  .btn-line{
    width: 33px;
    height: 9px;
    margin: 0 0 7px 0;
    border-radius: 3px;
    background: #D52B1E;
    @include easeOut;

  }


  //Rotate into X menu lines

  &.close{
    .btn-line{
      //rotate
      &:nth-child(1){
        @include easeOut;
        background: #D52B1E;
      }
      //hide
      &:nth-child(2){
        @include easeOut;
        opacity: 0;
      }
      //rotate
      &:nth-child(3) {
        opacity: 0;
        @include easeOut;
      }
    }
  }
}

///menu overlay
.menu{
  position: absolute;
  top: 6.9rem;
  left: 0;
  width: 100%;
  visibility: hidden;
  &.show{
    z-index: 20;
    visibility: visible;
  }
  &-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    height:90%;
    overflow: hidden;
    //border-radius: 0px 0px 87px 0px;
    //-moz-border-radius: 0px 0px 87px 0px;
    //-webkit-border-radius: 0px 0px 87px 0px;
    border: 0px solid #000000;
  }

  &-nav{
    margin: 0;
    padding: 0;
    background: rgba(darken(#f1eeee, 8), 0.7);
    list-style: none;
    transform: translate3d(-50%,0,0);
    @include easeOut;
    .nav-item-mobile{
      display: none;
    }

    &.show{
      //slide from top
      transform: translate3d(0, 0, 0);
    }
  }
  .nav-item{
    transform: translate3d(-600px, 0, 0);
    @include easeOut;

    &.show{
      //slide right
      transform: translate3d(0, 0, 0);
    }
  }
  .nav-link{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    padding: 1rem 1rem;
    font-weight: 600;
    color: #0039A6;
    text-decoration: none;

    &:hover{
      @include easeOut;
      color: #D52B1E;
    }
  }
}

//delay each nav item slide
@for $x from 1 through 4{
  .nav-item:nth-child(#{$x}){
    transition-delay: $x * 0.3s;
  }
}