@import "confige";
@include mediaEsm {
  header{
    .logo-pic{
      display: none;
    }
    .menu{
      &-nav{
        flex-flow: column wrap;
        height:90%;
        width: 100%;
        text-align: center;
        background: rgba(darken(#f1eeee, 8), 0.9);
        border-bottom: 2px solid $secondary-color;
        .nav-item-mobile{
          border-top: 1px solid $secondary-color ;
          display: block;
          .m-contact{
            font-size: 25px;
            margin-bottom: 10px;
            span{
              font-size: 10px;
            }
            a{
              margin-left: 15px;
              &:nth-child(1){
                margin-left: 0;
              }
            }
          }
        }
      }
      .nav-link{
        font-size: 23px;
        padding: 1rem 0;
      }
    }
    .logo{
      margin-left: 30%;
      font-size: 1.5rem;
      text-transform: none;
    }
    .contact{
      display: none;
    }
    .social-icons{
      display: none;
    }
  }
  .slider{
    span{
      top:20%;
      left: 50%;
      font-size: 1rem;
      padding: 1rem;
    }
  }
  .wrapper-counter{
    align-items: center;
    display: flex;
    .counter{
      height: 80px;
      width: 300px;
      .wrapper-count{
        .count-text {
          margin-top: 7px;
          white-space: pre-wrap;
          font-size: 10px;
        }
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
  .wrapper-service{
    .anons-tovara {
      align-items: center;
      display: flex;
      flex-direction: column;
      .desc-text {
        text-align: center;
        width: 100%;
      }
    }
    .service-pic {
      flex-direction: column;
      a{
        margin: 1rem 0;
      }
    }
  }
  .wrapper-projects{
    .title-text{
      font-size: 3vh;
    }
    nav.projects{
      ul.projects-nav {
        flex-direction: column;
        li{
          margin: 1rem 0;
        }
      }
    }
    .wrapper-pic {
      .projects-pic {
        grid-template-columns: 1fr;
      }
    }
  }
  .wrapper-slider-blog{
    .desc-text{
      width: 100%;
    }
  }
  .slideshow-container {
    .wrapper-blog-pic {
      grid-template-columns: 1fr;
    }
  }
  .wrapper-about-us{
    flex-direction: column;
    .col_1{
      border-radius: 10px;
      border-left: #e7f3fb 1px solid;
      -webkit-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      -moz-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
    }
  }
  .wrapper-contact {
    flex-flow: column wrap;
    justify-content: center;
    .contact_1{
      word-wrap: break-word;
      align-items: center;
      margin: 10vh;
      .desc-text{
        width: 100%;
      }
    }
  }
  .footer {
    background: #111111;
    height: 100px;
    width: 100%;
    .title-text {
      color: $primary-color;
      padding: 0;
      font-size: 10px;
    }
  }
}
@include mediaSm {
  header {
    .menu {
      &-nav {
        flex-flow: column wrap;
        height: 90%;
        text-align: center;
        background: rgba(darken(#202020, 8), 0.9);
        border-bottom: 2px solid $secondary-color;
        .nav-item-mobile {
          border-top: 1px solid $secondary-color;
          display: block;
          .m-contact {
            font-size: 25px;
            margin-bottom: 10px;
            span {
              font-size: 10px;
            }
            a {
              margin-left: 15px;
              &:nth-child(1) {
                margin-left: 0;
              }
            }
          }
        }
      }
      .nav-link {
        font-size: 25px;
        padding: 1rem 0;
      }
    }
    .logo {
      margin-left: 30%;
      font-size: 1.5rem;
      text-transform: none;
    }
    .contact {
      display: none;
    }
    .social-icons {
      display: none;
    }
  }
  .slider {
    span {
      top: 20%;
      left: 50%;
      font-size: 2rem;
      padding: 1.5rem;
    }
  }
  .wrapper-counter {
    align-items: center;
    display: flex;
    .counter {
      height: 90px;
      width: 200px;
      .wrapper-count {
        .count-text {
          margin-top: 7px;
          white-space: pre-wrap;
          font-size: 14px;
        }
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
  .wrapper-service {
    .desc-text {
      width: 100%;
    }
    .service-pic {
      flex-direction: row;
      a {
        margin-left: 5px;
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
  .wrapper-projects {
    nav.projects {
      ul.projects-nav {
        flex-direction: column;
        li {
          margin: 1rem 0;
        }
      }
    }
    .wrapper-pic {
      .projects-pic {
        grid-template-columns: 1fr;
      }
    }
  }
  .wrapper-slider-blog {
    .desc-text {
      width: 100%;
    }
  }
  .slideshow-container {
    display: grid;
    justify-content: center;
    .wrapper-blog-pic {
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
    }
  }
  .wrapper-about-us{
    flex-direction: column;
    .col_1{
      border-radius: 10px;
      border-left: #e7f3fb 1px solid;
      -webkit-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      -moz-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
    }
  }
  .wrapper-contact {
    flex-flow: column wrap;
    justify-content: center;
    .contact_1{
      align-items: center;
      margin: 10vh;
    }
  }
  .footer {
    background: #111111;
    height: 100px;
    width: 100%;
    .title-text {
      color: $primary-color;
      padding: 0;
      font-size: 10px;
    }
  }
}
@include mediaLg{
  header{
    .menu{
      &-nav{
        flex-flow: column wrap;
        height:90%;
        text-align: center;
        background: rgba(darken(#202020, 8), 0.9);
        border-bottom: 2px solid $secondary-color;
        .nav-item-mobile{
          border-top: 1px solid $secondary-color ;
          display: block;
          .m-contact{
            font-size: 25px;
            margin-bottom: 10px;
            span{
              font-size: 10px;
            }
            a{
              margin-left: 15px;
              &:nth-child(1){
                margin-left: 0;
              }
            }
          }
        }
      }
      .nav-link{
        font-size: 25px;
        padding: 1rem 0;
      }
    }
    .logo{
      margin-left: 30%;
      font-size: 1.5rem;
      text-transform: none;
    }
    .contact{
      display: none;
    }
    .social-icons{
      display: none;
    }
  }
  .wrapper-service {
    .desc-text {
      width: 100%;
    }
    .service-pic {
      flex-direction: row;
      a {
        margin-left: 2.5rem;
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
  .wrapper-projects {
    .wrapper-pic {
      .projects-pic {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .wrapper-slider-blog {
    .desc-text {
      width: 100%;
    }
  }
  .slideshow-container {
    display: grid;
    justify-content: center;
    .wrapper-blog-pic {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
  }
  .wrapper-about-us{
    flex-direction: column;
    .col_1{
      border-radius: 10px;
      border-left: #e7f3fb 1px solid;
      -webkit-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      -moz-box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
      box-shadow: 1px 3px 38px -9px rgba(167, 45, 56, 0.69);
    }
  }
  .wrapper-contact {
    flex-flow: column wrap;
    justify-content: center;
    .contact_1{
      align-items: center;
      margin: 10vh;
    }
  }
  .footer {
    background: #111111;
    height: 100px;
    width: 100%;
    .title-text {
      color: $primary-color;
      padding: 0;
      font-size: 10px;
    }
  }
}